div.container {
  margin-top: 2em;
}

button {
  background-color: #17494D;
  border: 2px solid #17494D;
}

button:hover {
  background-color: #E4A9A8;
  border: 2px solid #E4A9A8;
}

div {
  color: #fff;
}
