registry=http://localhost:8082/repository/npm-group/
//localhost:8082/repository/npm-group/:username=admin
//localhost:8082/repository/npm-group/:_password=YWRtaW4=

registry=https://localhost:8082/repository/npm-private/
//localhost:8082/repository/npm-private/:username=admin
//localhost:8082/repository/npm-private/:_password=YWRtaW4=