<!--<mat-toolbar color="primary">-->
<!--  <span id="chathub_logo">ChatHub</span>-->
<!--  <div class="spacer"></div>-->
<!--  <a mat-button>Home</a>-->
<!--  <a mat-button>About</a>-->
<!--  <a mat-button>Contact</a>-->
<!--</mat-toolbar>-->
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/userlist">All messages</a>
        <a class="nav-item nav-link" href="#">Send message</a>
        <a class="nav-item nav-link" href="#">Groups</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav>
</div>
