<div class="justify-content-center" style="width: 700px; margin-right: auto; margin-left: auto; margin-top: 30px;">
  <div class="form-inline">
    <div class="input-group">
      <input class="form-control mr-sm-2" type="search" placeholder="Who to text today? That is the question.." aria-label="Search">
      <button type="button" class="btn btn-secondary">Search</button>
    </div>
  </div>
</div>


<div id="container">
  <div *ngFor="let userChat of userWithChats">
    <div class="row mb-2 justify-content-center">
      <div class="col-md-6">
        <a class="user_latest_message" href="/messages">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img alt="" src="assets/img/steve.png" width="140" height="140">
            </div>
            <div class="col p-4 d-flex flex-column position-static one_user">
              <h1>{{ userChat.name }} {{ userChat.surname }}</h1>
              {{ userChat.name }}: Siema mordo, robiles moze taska nowego?
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
