#users{
 margin-left: 10px;
}

.card {
  float: left;
  margin: 10px;
}

#container {
  margin-top: 20px;
  font-size: 20px;
}

.one_user {
  margin-bottom: 0px !important;
  background-color: #fff;
}

#search_div {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  font-size: 20px;
  border-radius:20px;
  padding: 20px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

a.user_latest_message {
  text-decoration: none;
  color: #000;
}

