<div id="container">
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message" [(ngModel)]="formData.content"  required>

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>

  <div class="row mb-2 justify-content-center">
    <div class="col-md-8">
      <div *ngFor="let message of messages">
        <div *ngIf="message.senderId === 27" class="from_me">
          <h3> {{ message.timestamp }} </h3>
          {{ message.content }}
        </div>
        <div *ngIf="message.senderId !== 27" class="to_me">
          <h3> {{ message.timestamp }} </h3>
          {{ message.content }}
        </div>
      </div>
    </div>
  </div>

</div>
